* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 3.4rem;
}

.navBtn {
    min-width: 150px;
    max-width: 400px;
    font-size: 45px;
    font-family: magneto;
    cursor: pointer;
    background-color: blue;
}

.nav-link {
    background-color: blue;
}

.appContainer {
    display: flex;
}

.appTableContainer {
    display: block;
    width: 100%;
    background-color: gray;
}

.appTableContainer ul {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.lnk {
    display: flex;
    background-color: rgb(41, 41, 41);
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.lnk:hover {
    background-color: rgb(24, 23, 23);
    color: white;
}
.tableContainer {
    background-color: gray;
}

.driversTable {
    margin: 0;
    border: 20px solid grey;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    height: 100vh;  
}

.pageTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    font-family: magneto;
    color: white;
    text-shadow: 0 0 20px #252525;
}

th {
    text-align: left;
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 10px;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    background-color: white;
    color: rgb(80, 80, 80);
}

td {
    border: 1px solid gray;
    padding: 10px;
}

.td1 {
    background-color: rgb(41, 41, 41);
    vertical-align: top;
}

.td2 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    background-color: rgb(41, 41, 41);
    color: rgb(80, 80, 80);
}

.tdr {
    padding-left: 7px;
}

.subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    background-color: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

.loaderClass {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDetails {
    display: flex;
    width: 100%;
}

.leftSide, .doubleTable {
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.leftSide {
    width: 250px;
    color: white;
}

.both {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: gray;  
}

.middle {
    margin: 10px;
    flex-grow: 3;
}

.rightSide {
    margin: 10px;
    flex-grow: 4;
}

.imgFlag {
    display: flex;
    justify-content: space-between; 
}
.imgDetails, .flag{
    flex-direction: column;
}

.imgDetails {
    width: 150px;
    height: 200px;
    border-radius: 10px; 
}

.imgDrivers, .flag{
    flex-direction: column;
}

.imgDrivers {
    width: 150px;
    height: 200px;
    border-radius: 10px; 
}
.imgTeams {
    width: 150px;
    border-radius: 10px;
}
