* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb (41, 41, 41);
}


/* ----------------------------------------------------------------- */

.navContainer {
    display: block;
    width: 100%;
}

.navBarDetails {
display: flex;
}

.searchBarStyle{
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.navFeederHome {
    background-color: rgb(68, 68, 68);
    min-width: 140px;
    color: white;
    text-decoration: none;
    padding: 5px 10px 2px 5px;
    border-radius: 7px;
    margin-top : 5px;
}

.navFeederHome:hover {
    background-color: #fcb900;
    color: black;
}

.top-nav {
    padding: 5px 10px 2px 5px;
    width: 350px;
}

.disabledClass {
    display: flex;
}

.breadcrumb.navDetails {    
    display: flex;
    min-width: 350px;
    width: max-content;
    padding: 0px 10px 0px 0px;
}

.navDetails {
    display: flex;
    padding: 0px 10px;
}

.disabledClass {
    padding: 0px 10px 0px 0px;
}

.divSearch {
    width: 100%;
    text-align: end;
}

.f1Feeder {
    text-align: center;
}

.logo {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}


/* ------------------------------------------------------------------- */


.navbar-brand {
    background-color: rgb(60 60 60);
    padding: 5px 10px;
    border-radius: 7px;
}

.anticon {
    vertical-align: 0.135em;
}

.me-2 {
    background-color: rgb(83, 82, 82);
    border: 0px;
    font-size: 16px;
    font-weight: 600;
}

.btn-outline-success {
    outline-color: black;
    border: 1px solid black;
    color: white;
    padding: 0px;
    font-size: 30px;
}

.btn-outline-success:hover {
    color: white;
    background-color: #fcb900;
}

.navBtn {
    min-width: 150px;
    font-size: 30px;
    font-family: magneto;
    cursor: pointer;
}

.nav-link2 {
    background-color: blue;
    border-radius: 7px;
    padding: 11.5px 10px;
    color: white;
    text-decoration: none;
}

.nav-link2:hover {
    background-color: #fcb900;
    color: black;
}

.appContainer {
    display: flex;
    background-color: rgb(41, 41, 41);
}

.appTableContainer {
    min-height: 100vh;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
}

.appTableContainer ul {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.lnk {
    display: block;
    background-color: rgb(41, 41, 41);
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.lnk:hover {
    background-color: #fcb900;
    color: rgb(81, 81, 81);
}

.lnk:focus {
    background-color: rgba(0, 0, 0, 0.536);
}

.navbar-brand:hover {
    background-color: #fcb900;
    color: black;
}

.active {
    background-color: black;
}

.tableContainer {
    background-color: gray;
}

.driversTable {
    margin: 0;
    border: 20px solid grey;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.pageTitle {
    background-color: gray;
    margin: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    font-family: magneto;
    color: white;
    text-shadow: 0 0 40px black;
    padding: 20px 20px 0px 20px;
}

th {
    text-align: left;
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 10px;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    background-color: white;
    color: rgb(80, 80, 80);
}

td {
    border: 1px solid rgb(80, 80, 80);
    padding: 10px;
}

.td1 {
    background-color: rgb(41, 41, 41);
    vertical-align: top;
    padding: 0;
    height: 100%;
}

.td2 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(41, 41, 41);
    color: rgb(80, 80, 80);
}

.tdr {
    padding-left: 7px;
    text-decoration: none;
}

.subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    background-color: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}

.loaderClass {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDetails {
    display: flex;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

.leftSide,
.doubleTable {
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.doubleTable {
    width: 100%;
    padding: 0;
}

.leftSide {
    width: 400px;
    color: white;
}

.both {
    width: 100%;
    display: flex;
    background-color: gray;
    padding: 15px 10px 10px 10px;
}

.middle {
    margin: 10px;
    flex-grow: 3;
}

.rightSide {
    margin: 10px;
    flex-grow: 4;
}

.imgFlag {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.imgDetails,
.flag {
    flex-direction: column;
}

.imgDetails {
    width: 150px;
    border-radius: 10px;
}

.imgDrivers,
.flag {
    flex-direction: column;
}

.imgDrivers,
.imgTeams {
    width: 150px;
    border-radius: 10px;
}

.icon {
    text-decoration: none;
    color: grey;
}

.iconDet {
    text-decoration: none;
    color: white;
}

.flag {
    padding: 15px;
}

.dataA {
    display: flex;
    width: 100%;
}

.data1 {
    width: 60%;
    padding: 10px;
}

.data2 {
    width: 40%;
    padding: 10px;
}

.data3 {
    width: 60%;
    padding: 10px;
}

.data4 {
    width: 40%;
    padding: 10px;
}

.dataB {
    display: flex;
    width: 350px;
}

img[Attributes] {
    height: 70px;
    aspect-ratio: auto 70 / 70;
    width: 70px;
}

.data5 {
    width: 50%;
    padding: 10px;
}

span {
    padding: 0 0 0 10px;
}

@media only screen and (max-width: 1750px) {

    .divDetails {
        flex-direction: column;
        background-color: rgb(41, 41, 41);
    }

    .appTableContainer {
        min-height: 100vh;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }
}

@media only screen and (min-width: 1360px) and (max-width: 1750px) {
    .divDetails {
        flex-direction: column;
        width: 100%;
        background-color: rgb(41, 41, 41);
    }

    .appContainer {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .appTableContainer {
        min-height: 100vh;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }

    .both {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1360px) {
    .appContainer {
        flex-direction: column;
    }

    .appContainer {
        width: 100%;
        padding: 0;
    }

    .appTableContainer appTableContainer2 {
        min-height: 100vh;
        display: table-column;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }

    .navbar-expand-md {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .both {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
    .appTableContainer.appTableContainer2.appTableContainer3 {
        min-height: 100vh;
        display: table-column;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }

    .navbar.navbar-expand-md {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .appContainer {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .both {
        flex-wrap: wrap;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.clickTable{
    cursor: pointer;
}
